*.egg
*.egg-info
.eggs/
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.*.swp
.coverage
.coverage.*
nosetests-*.xml
coverage-*.xml
*.db
build/
dist/
bin/
lib/
lib64/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/
